header{
    width: 100%;
    height: 100vh;
    background: url(wood.jpg);
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0, 87% 84%, 50% 100%, 14% 85%, 0 0);
    /* background-color: black; */
    
}
.portfolio{
    color: white;
    font-size: 50px;
padding-left: 70px;
font-weight: bold;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
   margin: 5px;
   font-size: 22px;
   /* margin-right: 50px;*/
   font-weight: bold;
}
.menu a:hover{
    background-color: orange;
    color: black;
    
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    color: orange;
}
.intro{
    color: white;
    margin-top: 100px;
    margin-left: 120px;
    max-width: 450px;
    /* margin: -30px; */
    padding: 0px;
    line-height: 10px;
}
.intro h2{
    font-size: 50px;
}
.intro p{
    font-size: 20px;
}
#about{
    padding: 40px 50px;
    /* display:  flex; */
}
.aboutus {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 4px;
    color: orange;
    /* display: flex ; */
}
.aboutus h1{
    font-size: 50px;
color: black;
}
.about p{
font-size: 50px;
color: orange;
}
.about-row{
        display: flex;   
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 100%;
    /* border: 3px solid red; */
    display: flex;
     } 
.about-left-col img{
    width: 35%;
    padding: 0px;
    
    display: inline-block;  
    border-radius: 40%; 
    /* margin-right: 200px; */
}
.about-right-col{
    line-height: 0;
    display: flex;
    /* border: 3px solid red;    */
    margin-bottom: 70px;
    display: inline-block; 
     } 

.para{
    line-height: 5;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.para2{
    margin-top: -100px;
    background-color: rgba(0,0,0,0.7);
    color: white;
}
#skill{
    padding: 100px 50px;
}
.skill-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skill-left-col{
    flex-basis: 50%;
}
.skill-right-col{
    flex-basis: 50%;
}